.steam-header {
  display: flex;
  flex-direction: row;

  img {
    width: 2.25rem;
    border-radius: 0.25rem;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

#search-game-form {
  display: flex;
  flex-direction: row;

  #reset-form-button {
    justify-content: right;
  }
}