<dash-widget
  [widgetData]="getWidgetData()"
  [isFormValid]="isFormValid()"
  (refreshWidgetAction)="this.refreshWidget()"
  [isWidgetLoaded]="true"
>
  <ng-template #headerIcon>
    <a href="{{ playerData()?.profileurl }}" class="steam-header">
      <img src="{{ playerData()?.avatar }}" alt="{{ playerData()?.personaname }}" />
    </a>
  </ng-template>

  <ng-template #headerTitle>
    <div>
      <a href="{{ playerData()?.profileurl }}" class="steam-header">
        {{ playerData()?.personaname }}
      </a>
    </div>
  </ng-template>

  <ng-template #editComponent>
    <mat-form-field appearance="fill">
      <mat-label id="steamUserIdLabel">Utilisateur Steam</mat-label>
      <input
        matInput
        id="steamUserIdInput"
        [formField]="steamUserIdForm"
        placeholder="Saisissez l'user ID du joueur Steam'"
      />
    </mat-form-field>
  </ng-template>

  <ng-template #body>
    <form id="search-game-form">
      <mat-form-field appearance="fill">
        <mat-label>Recherchez un jeu</mat-label>
        <input matInput [formField]="searchForm" />
      </mat-form-field>

      @if (this.searchQuery()) {
        <button mat-icon-button matTooltip="Annuler la recherche" id="reset-form-button" (click)="this.resetForm()">
          <mat-icon aria-hidden="false">close</mat-icon>
        </button>
      }
    </form>

    @if (this.steamUserId(); as steamUserId) {
      @if (this.playerData(); as playerData) {
        @for (game of this.ownedGamesDisplay(); track game.appid) {
          <dash-game-details [steamUserId]="steamUserId" [profileUrl]="playerData.profileurl" [gameInfo]="game" />
        }
      }
    }

    <mat-paginator
      (page)="onPageChanged($event)"
      [length]="gameCount()"
      [pageSize]="pageSize"
      [pageIndex]="pageNumber"
      [pageSizeOptions]="pageSizeOptions"
      aria-label="Sélectionnez une page"
    />
  </ng-template>
</dash-widget>
