.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;

  > :not([hidden])~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
  }

  img {
    width: 2.25rem;
    border-radius: 0.25rem;
  }
}

#search-game-form {
  display: flex;
  flex-direction: row;

  #reset-form-button {
    justify-content: right;
  }
}