<dash-widget [widgetData]="getWidgetData()" [isFormValid]="isFormValid()" (refreshWidgetAction)="this.refreshWidget()"
  [isWidgetLoaded]="true">

  <ng-template #headerIcon>
    <a href="{{ playerData?.profileurl }}" class="steam-header">
      <img src="{{ playerData?.avatar }}" alt="{{ playerData?.personaname }}" />
    </a>
  </ng-template>

  <ng-template #headerTitle>
    <div><a href="{{ playerData?.profileurl }}" class="steam-header">
        {{ playerData?.personaname }}
      </a></div>
  </ng-template>

  <ng-template #editComponent>
    <mat-form-field appearance="fill">
      <mat-label id="steamUserIdLabel">Utilisateur Steam</mat-label>
      <input matInput id="steamUserIdInput" name="userId" [(ngModel)]="this.steamUserId"
        placeholder="Saisissez l'user ID du joueur Steam'" />
    </mat-form-field>
  </ng-template>

  <ng-template #body>
    <form id="search-game-form">
      <mat-form-field appearance="fill">
        <mat-label>Recherchez un jeu</mat-label>
        <input matInput [formControl]="searchFormControl" />
      </mat-form-field>

      <button *ngIf="this.searchFormControl.dirty && this.searchFormControl.value" mat-icon-button
        matTooltip="Annuler la recherche" id="reset-form-button" (click)="this.resetForm()">
        <mat-icon aria-hidden="false">close</mat-icon>
      </button>
    </form>

    <div *ngFor="let game of this.ownedGamesDisplay">
      <dash-game-details [steamUserId]="this.steamUserId" [profileUrl]="this.playerData?.profileurl"
        [gameInfo]="game"></dash-game-details>
    </div>
    <mat-paginator (page)="onPageChanged($event)" [length]="gameCount" [pageSize]="pageSize" [pageIndex]="pageNumber"
      [pageSizeOptions]="pageSizeOptions" aria-label="Sélectionnez une page">
    </mat-paginator>
  </ng-template>
</dash-widget>
