#workout-widget-header {
  display: flex;
  justify-content: space-between;
}

.loading-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
}

#workout-sessions-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @media (min-width: 300px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .workout-exercise-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    &.edit-mode {
      display: flex;
      justify-content: space-between;
    }

    .workout-type-name {
      margin: auto 0;
    }

    .edit-reps-container {
      white-space: nowrap;

      .workout-number-of-reps {
        font-weight: bold;

        &.edit-mode {
          vertical-align: super;
        }
      }
    }
  }
}
