.mini-widget {
  border-radius: 0.25rem;

  .edit-mini-widget {
    display: flex;
    flex-direction: row;
  }

  .read-mini-widget-body-container {
    padding: 0.15em;
    overflow-y: auto;

    .loading-spinner {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto 0;
    }
  }
}
