<div class="mini-widget">
  @if (isModeEdit()) {
    <div class="edit-mini-widget">
      <ng-container *ngTemplateOutlet="editComponent() ?? null"> </ng-container>

      @if (this.isWidgetLoaded() && this.widgetData()) {
        <button class="cancelButton" matTooltip="Annuler" mat-icon-button (click)="cancelEdition()">
          <mat-icon>undo</mat-icon>
        </button>
      }

      <button
        class="validateButton"
        matTooltip="Valider"
        mat-icon-button
        (click)="onValidation()"
        color="primary"
        [disabled]="!this.isFormValid()"
      >
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Supprimer le widget" (click)="this.toDeleteMode()" color="alert">
        <mat-icon aria-hidden="false">delete</mat-icon>
      </button>
    </div>
  }

  @if (isModeDelete()) {
    <div>
      <h4>Êtes-vous sûr de vouloir supprimer ce widget ?</h4>
      <div id="delete-mini-widget-actions">
        <button (click)="deleteMiniWidget()" mat-raised-button color="warn" class="validateDeletionButton">
          Supprimer
        </button>
      </div>
    </div>
  }

  @if (isModeRead()) {
    <div (dblclick)="this.toEditMode()">
      <div class="read-mini-widget-body-container">
        @if (this.isWidgetLoaded()) {
          <ng-container *ngTemplateOutlet="body()"> </ng-container>
        } @else {
          <div class="loading-spinner">
            <mat-spinner></mat-spinner>
          </div>
        }
      </div>
    </div>
  }
</div>
