<app-widget [widgetData]="getWidgetConfig()" (refreshWidgetAction)="this.refreshWidget()">
  <ng-template #header> Agenda </ng-template>

  <ng-template #editComponent>
    <div *ngFor="let calendarUrl of this.calendarUrls; let index = index">
      <div class="flex flex-row">
        <input
          id="{{ index.toString() }}"
          (change)="onCalendarUrlUpdated($event)"
          [value]="calendarUrl"
          placeholder="Saisissez une URL"
        />

        <button mat-raised-button class="removeCalendarUrl" (click)="removeCalendarUrl(calendarUrl)">Supprimer</button>
      </div>
    </div>
  </ng-template>

  <ng-template #body>
    <div [ngSwitch]="view">
      <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="[]"
        [refresh]="refresh"
      ></mwl-calendar-day-view></div
  ></ng-template>
</app-widget>
