<h1 mat-dialog-title>Ajouter un widget</h1>

<mat-dialog-content>
  <div id="widget-types-list">
    <mat-card *ngFor="let widgetType of widgetTypeEnumKeys">
      <mat-card-content>
        <div class="widget-type-container space-y-5">
          <mat-icon>{{widgetType.icon }}</mat-icon>
          <span> {{ widgetType.type }}</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button id="{{ widgetType.type }}" mat-raised-button color="primary"
          [mat-dialog-close]="widgetType.type">Ajouter</button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-dialog-content>

<mat-dialog-actions> <button mat-raised-button mat-dialog-close color="warn">Fermer</button> </mat-dialog-actions>