#widget-types-list {
  display: grid;
  gap: 0.75rem;

  @media (width >= 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (width >= 768px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .widget-type-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    > :not([hidden])~ :not([hidden]) {
      margin-top: 1.25rem;
    }
  }

}