<app-widget [widgetData]="getWidgetData()" (refreshWidgetAction)="this.refreshWidget()"
  [isWidgetLoaded]="isWidgetLoaded">

  <ng-template #header>
    <div class="header">
      <mat-icon>electric_bolt</mat-icon>
      <div>Ecowatt</div>
    </div>
  </ng-template>

  <ng-template #body>
    <div class="h-full w-full" #iframeContainer>
      <iframe [src]="ecowattIframeUrl | safe : 'resource_url'" title="ecowatt" [width]="iframeContainerWidth"
        [height]="iframeContainerHeight"></iframe>
    </div>
  </ng-template>
</app-widget>
