<dash-widget
  [widgetData]="getWidgetData()"
  (refreshWidgetAction)="this.refreshWidget()"
  [isWidgetLoaded]="isWidgetLoaded"
>
  <ng-template #headerIcon>
    <mat-icon>electric_bolt</mat-icon>
  </ng-template>

  <ng-template #headerTitle>
    <div class="ecowatt-widget-header">Ecowatt</div>
  </ng-template>

  <ng-template #body>
    <div id="ecowatt-info-container" #iframeContainer>
      <iframe
        [src]="ecowattIframeUrl | safe: 'resource_url'"
        title="ecowatt"
        [width]="iframeContainerWidth"
        [height]="iframeContainerHeight"
      ></iframe>
    </div>
  </ng-template>
</dash-widget>
