<app-mini-widget [isFormValid]="isFormValid()" [widgetData]="getWidgetData()" [isWidgetLoaded]="isWidgetLoaded()"
  (refreshWidgetAction)="this.refreshWidget()">

  <ng-template #editComponent>
    <mat-form-field appearance="fill">
      <mat-label>Ville</mat-label>
      <input id="cityNameInput" name="city" matInput [(ngModel)]="this.city"
        placeholder="Saisissez de nom de la ville" />
    </mat-form-field>
  </ng-template>

  <ng-template #body>
    <div *ngIf="weather && weather.weather" class="flex flex-row">
      <div class="weather-container">
        <img class="w-16" [src]="getIconFromWeatherApi(this.weather.weather[0].icon)"
          [title]="weather.weather[0].description" [alt]="weather.weather[0].description" />
      </div>
      <div class="flex flex-col">
        <div>{{city}}</div>
        <div class="flex flex-row">
          <mat-icon>device_thermostat</mat-icon>
          <div>{{ weather.main.temp }}°</div>
        </div>
        <div>{{ weather.weather[0].description }}</div>
      </div>
    </div>
  </ng-template>
</app-mini-widget>
