<app-widget [widgetData]="{}" (refreshWidgetAction)="this.refreshWidget()" [isWidgetLoaded]="this.isWidgetLoaded">
  <ng-template #header>
    <div *ngIf="athlete" id="stravaWidgetHeader" class="h-10">
      <a [href]="getAthleteProfileUrl(athlete.id)" class="flex flex-row items-center space-x-2">
        <img class="w-9 rounded" [src]="athlete.profileMedium" alt="athlete profile" />
        <p>{{ athlete.firstname }} {{ athlete.lastname }}</p>
      </a>
    </div>
    <div *ngIf="!athlete">Strava</div>
  </ng-template>

  <ng-template #body>
    <ng-template [ngIf]="this.isUserLoggedIn()" [ngIfElse]="isUserNotConnected">
      <div class="max-h-48 overflow-y-scroll">
        <app-strava-activities [activities]="this.activities.slice().reverse()"></app-strava-activities>
      </div>

      <div class="min-h-24 max-h-96">
        <canvas baseChart [data]="this.activitiesChartData" [type]="'bar'"></canvas>
      </div>
    </ng-template>

    <ng-template #isUserNotConnected>
      <div class="my-auto text-center">
        <button (click)="loginToStrava()" mat-raised-button color="primary">Se connecter</button>
      </div>
    </ng-template>
  </ng-template>
</app-widget>