.strava-header {
  display: flex;
  flex-direction: row;

  #strava-profile-picture {
    max-height: 2.3rem;
  }
}

#strava-activities-container {
  max-height: 12rem;
  overflow-y: scroll;

  display: flex;
  flex-direction: row;

  #activities-pagination-container {
    display: flex;
    flex-direction: column;
  }
}

#strava-statistics {
  min-height: 6rem;
  max-height: 24rem;
}

#login-to-strava-button {
  margin: auto;
}
