<app-widget [widgetData]="{}" (refreshWidgetAction)="this.refreshWidget()" [isWidgetLoaded]="this.isWidgetLoaded">
  <ng-template #header>
    <div *ngIf="athlete" id="stravaWidgetHeader" class="header">
      <a [href]="getAthleteProfileUrl(athlete.id)" class="header-content">
        <img [src]="athlete.profileMedium" alt="athlete profile" />
        <p>{{ athlete.firstname }} {{ athlete.lastname }}</p>
      </a>
    </div>
    <div *ngIf="!athlete" class="header">
      <mat-icon>directions_run</mat-icon>
      <div>Strava</div>
    </div>
  </ng-template>

  <ng-template #body>
    <ng-template [ngIf]="this.isUserLoggedIn()" [ngIfElse]="isUserNotConnected">
      <div *ngIf="this.activities.length">
        <div id="strava-activities-container">
          <app-strava-activities [activities]="this.activities"></app-strava-activities>
        </div>
        <div id="strava-statistics">
          <canvas baseChart [data]="this.activitiesChartData" [type]="'bar'"></canvas>
        </div>
      </div>
    </ng-template>

    <ng-template #isUserNotConnected>
      <button (click)="loginToStrava()" id="loginToStravaButton" mat-raised-button color="primary">Se
        connecter</button>
    </ng-template>
  </ng-template>
</app-widget>