.spinner-container {
  position: relative;

  .progress-value {
    position: absolute;
    width: 100px;
    height: 100px;
    line-height: 80px;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
  }
}
