<mat-expansion-panel *ngIf="this.steamUserId && this.gameInfo"
  (afterExpand)="loadAchievementsData(this.steamUserId, this.gameInfo)" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="game-info">
        <img [src]="gameInfo.gameImgSrc" alt="game icon" />
        <p>{{ gameInfo.name }}</p>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>

    <div class="game-data-container">
      <div class="game-achievements-data-container">
        <a href="{{gameInfo.playerAchievementUrl}}"
          *ngIf="this.achievements && this.completedAchievements && this.achievements.length"
          class="game-achievements-data">
          <div class="totalachievements">Succès : {{ achievements.length }}</div>
          <div class="completedAchievements">Succès complétés : {{ completedAchievements.length }}</div>
        </a>
        <a href="{{gameInfo.appIdLink}}" class="hoverable-link"> Community hub </a>
      </div>

      <a href="{{gameInfo.playerAchievementUrl}}"
        *ngIf="this.achievements && this.completedAchievements && this.achievements.length" class="spinner-container">
        <div class="progress-value">{{ spinner.value }}%</div>
        <mat-progress-spinner #spinner [color]="'primary'" [mode]="'determinate'" [value]="this.completionStatus">
        </mat-progress-spinner>
      </a>
    </div>
  </ng-template>
</mat-expansion-panel>