<app-widget [widgetData]="getWidgetData()" (refreshWidgetAction)="this.refreshWidget()">
  <ng-template #header>
    <div>Workout</div>
  </ng-template>

  <ng-template #body>
    <div [ngSwitch]="WIDGET_VIEW">
      <div *ngSwitchCase="widgetViewEnum.WORKOUT_SESSIONS_LIST_VIEW">
        <h2>Types d'exercices</h2>
        <div *ngFor="let workoutType of this.workoutTypes">
          <ul>
            <li class="workoutTypeName">{{ workoutType.name }}</li>
          </ul>
        </div>

        <div>
          <h4>Ajouter un type d'exercice</h4>

          <input
            id="addWorkoutInput"
            name="url"
            [(ngModel)]="this.workoutNameInput"
            placeholder="Nouveau type d'exercice"
          />
        </div>
        <button mat-raised-button id="addWorkoutTypeButton" (click)="addWorkoutType()" color="primary">Valider</button>

        <h2>Sessions</h2>
        <div *ngFor="let workoutSession of this.workoutSessions">
          <ul>
            <li class="workout-session">
              <div (click)="editWorkoutSession(workoutSession.id)">{{ formatDate(workoutSession.workoutDate) }}</div>
            </li>
          </ul>
        </div>
        <h4>Créer une session</h4>
        <mat-form-field id="workoutDatePickerField" appearance="fill">
          <mat-label>Sélectionnez la date</mat-label>
          <input [formControl]="workoutDateFormControl" matInput [matDatepicker]="workoutDatePicker" />
          <mat-hint>{{ dateFormat }}</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="workoutDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #workoutDatePicker></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button id="createWorkoutSessionButton" (click)="createWorkoutSession()" color="primary">
          Créer
        </button>
      </div>

      <div *ngSwitchCase="widgetViewEnum.EDIT_WORKOUT_SESSION_VIEW">
        <button mat-raised-button (click)="backToWorkoutSessionsList()">Back</button>
        Edit
        <div *ngIf="currentWorkoutSessionToEdit">
          <h3 id="workoutSessionDate">Session du {{ formatDate(currentWorkoutSessionToEdit.workoutDate) }}</h3>

          <ul *ngFor="let workoutType of this.workoutTypes">
            <li>
              <span>{{ workoutType.name }}</span>
              <button
                class="substractRepToWorkoutButton"
                mat-icon-button
                (click)="decrementExerciceNumberOfReps(workoutType.id)"
              >
                <mat-icon>remove</mat-icon>
              </button>
              <span class="workoutNumberOfReps">{{ getExerciceNumberOfReps(workoutType.id) }}</span>
              <button
                class="addRepToWorkoutButton"
                mat-icon-button
                (click)="incrementExerciceNumberOfReps(workoutType.id)"
              >
                <mat-icon>add</mat-icon>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-template>
</app-widget>
