#workout-sessions-grid {

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @media (min-width: 400px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @media (min-width: 640px) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .workout-session {
    cursor: pointer;

    :hover {
      font-weight: bold;
    }
  }
}

#workout-types-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @media (min-width: 300px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
