#login-page {
  display: flex;
  height: 100%;

  #login-container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 4rem;
    background-color: #ffffff;
    border-color: #000000;
    border-width: 2px;
    border-radius: 0.25rem;
    align-items: center;
    margin: auto;

    #logo-container {
      display: inline-block;
      margin: 1rem;

      #dash-logo {
        display: flex;
        margin: 0 auto;
      }
    }

    #login-page-title {
      font-size: 2rem;
      line-height: 1;
    }

    #login-form {
      display: flex;
      flex-direction: column;
      margin-top: 2.5rem;
      row-gap: 1rem;

      #login-button-label {
        display: flex;
        flex-direction: row;
        align-items: center;

        mat-spinner {
          margin-right: 1.25rem;

          span {
            margin: 0 auto;
          }
        }
      }
    }
  }
}
