@if (this.editMode()) {
  <div class="tab-input">
    <input
      id="tabNameInput"
      aria-label="Tab name"
      (keydown)="this.enterSaveTabName($event)"
      (dblclick)="this.saveTabName(this.tab().id, this.tabLabel(), this.tab().tabOrder)"
      [formField]="this.tabLabelForm"
    />
    <mat-icon class="deleteTabButton" (keydown)="this.deleteTabFromDash()" (click)="this.deleteTabFromDash()">
      delete
    </mat-icon>
  </div>
} @else {
  <div class="tab-label" (dblclick)="this.toggleEditMode()">
    {{ this.tabLabel() }}
  </div>
}
