<div class="widget">
  @if (isModeEdit()) {
    <div class="widget-edit-mode">
      <div class="header-container">
        <div class="header-actions">
          <button class="deleteButton" mat-icon-button matTooltip="Supprimer le widget" (click)="this.toDeleteMode()">
            <mat-icon aria-hidden="false">delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="widget-body">
        <div class="widget-edit-component-container">
          <ng-container *ngTemplateOutlet="editComponent"> </ng-container>
        </div>
        <div class="edit-component-actions">
          @if (this.isWidgetLoaded && this.widgetData) {
            <button class="cancelButton" mat-raised-button (click)="cancelEdition()">Annuler</button>
          }
          <button
            class="validateButton"
            mat-raised-button
            (click)="onValidation()"
            color="primary"
            [disabled]="!this.isFormValid"
          >
            Valider
          </button>
        </div>
      </div>
    </div>
  }

  @if (this.isModeDelete()) {
    <dash-delete-widget
      (cancelWidgetDeletion)="toReadMode()"
      (validateWidgetDeletion)="deleteWidget()"
    ></dash-delete-widget>
  }

  @if (this.isModeRead()) {
    <div class="widget-read-mode">
      <div class="header-container">
        <div class="header">
          <div *ngTemplateOutlet="headerIcon"></div>
          <div *ngTemplateOutlet="headerTitle"></div>
        </div>

        <div class="header-actions">
          @if (additionalActions) {
            <span>
              <ng-container *ngTemplateOutlet="additionalActions"> </ng-container>
            </span>
          }

          <button
            mat-icon-button
            matTooltip="Actualiser le widget"
            (click)="this.refreshWidget()"
            class="refreshButton"
          >
            <mat-icon aria-hidden="false">refresh</mat-icon>
          </button>
          @if (this.editComponent) {
            <button mat-icon-button matTooltip="Modifier le widget" (click)="this.toEditMode()" class="editButton">
              <mat-icon>settings</mat-icon>
            </button>
          }
        </div>
      </div>
      <div class="widget-body">
        @if (this.isWidgetLoaded) {
          <ng-container *ngTemplateOutlet="body"> </ng-container>
        } @else {
          <div class="widget-loading-spinner">
            <mat-spinner></mat-spinner>
          </div>
        }
      </div>
    </div>
  }
</div>
