$header-height: 2.5rem;

.widget {
  height: 24rem;
  border: 2px solid;
  border-radius: 0.25rem;

  .widget-read-mode {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .widget-edit-mode {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
  }

  .header-container {
    height: $header-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .header {
      display: flex;
      flex-direction: row;
      column-gap: 5px;
      margin: auto 0;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      align-items: center;
      flex: 0 1 60%;
      height: 100%;

      ::ng-deep img {
        max-height: 2.25rem;
        max-width: 2.25rem;
        border-radius: 0.25rem;
      }

      ::ng-deep a {
        height: 100%;
      }
    }

    .header-actions {
      display: flex;
      flex-direction: row;
      flex: 1 0 40%;
      justify-content: flex-end;
    }
  }

  .widget-body {
    height: calc(100% - $header-height);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 1em;

    .widget-edit-component-container {
      overflow-y: auto;
    }

    .edit-component-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: auto 0;
    }

    .widget-loading-spinner {
      margin: auto;
    }
  }
}
