<div class="widget">
  <div *ngIf="isModeEdit()" class="widget-edit-mode">
    <div class="header-container">
      <div class="header">
        <div class="header-actions">
          <button mat-icon-button (click)="this.toDeleteMode()">
            <mat-icon title="Supprimer le widget" aria-hidden="false">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="widget-body">
      <div class="widget-edit-component-container">
        <ng-container *ngTemplateOutlet="editComponent"> </ng-container>
      </div>
      <div class="edit-component-actions">
        <button class="cancelButton" mat-raised-button (click)="cancelEdition()"
          *ngIf="this.isWidgetLoaded && this.widgetData">
          Annuler
        </button>
        <button class="validateButton" mat-raised-button (click)="onValidation()" color="primary"
          [disabled]="!this.isFormValid">
          Valider
        </button>
      </div>
    </div>
  </div>

  <app-delete-widget *ngIf="this.isModeDelete()" (cancelWidgetDeletion)="toReadMode()"
    (validateWidgetDeletion)="deleteWidget()"></app-delete-widget>

  <div *ngIf="this.isModeRead()" class="widget-read-mode">
    <div class="header-container">
      <div class="header">
        <ng-container *ngTemplateOutlet="headerIcon"> </ng-container>
        <ng-container *ngTemplateOutlet="headerTitle"> </ng-container>
      </div>

      <div class="header-actions">
        <span *ngIf="additionalActions">
          <ng-container *ngTemplateOutlet="additionalActions"> </ng-container>
        </span>
        <button mat-icon-button (click)="this.toEditMode()" class="editButton">
          <mat-icon *ngIf="this.editComponent">settings</mat-icon>
        </button>
        <button mat-icon-button (click)="this.refreshWidget()" class="refreshButton">
          <mat-icon aria-hidden="false">refresh</mat-icon>
        </button>
        <button mat-icon-button (click)="this.toDeleteMode()" class="deleteButton">
          <mat-icon aria-hidden="false">delete</mat-icon>
        </button>
      </div>
    </div>
    <div class="widget-body">
      <ng-template [ngIf]="this.isWidgetLoaded" [ngIfElse]="isWidgetLoading">
        <ng-container *ngTemplateOutlet="body"> </ng-container>
      </ng-template>
      <ng-template #isWidgetLoading>
        <div class="widget-loading-spinner">
          <mat-spinner></mat-spinner>
        </div>
      </ng-template>
    </div>
  </div>
</div>