.widget {
  background-color: white;

  .header {
    background-color: black;
    height: 2.5rem;
    height: 2.5rem;
    color: white;
    align-items: center;

    button {
      color: white;
    }

    .header-widget {
      width: calc(100% - 15vw);
    }

    .widget-actions {
      max-width: 15vw;
    }
  }
}
