@import 'colors';

$headerHeight: 2.5rem;

.widget {
  background-color: white;
  border: 2px solid $widget-background-color;

  .header-container {
    background-color: $widget-background-color;
    height: $headerHeight;
    color: white;
    align-items: center;

    button {
      color: white;
    }
  }

  .widget-body {
    height: calc(100% - $headerHeight);
  }
}
