<div *ngIf="weather && weather.weather" class="weather-today-container">
  <div class="weather-container">
    <img class="current-weather-icon" [src]="getIconFromWeatherApi(this.weather.weather[0].icon)"
      [matTooltip]="weather.weather[0].description" [alt]="weather.weather[0].description" />

    <div class="current-temperature-container">
      <div>{{ weather.weather[0].description }}</div>
      <div matTooltip="Température actuelle" class="current-temperature">
        <mat-icon>device_thermostat</mat-icon>
        <div class="temperature">{{ weather.main.temp }}°</div>
      </div>
    </div>
  </div>

  <div class="time-data-container">
    <div class="day-data-container">
      <div class="time-container">
        <mat-icon matTooltip="Lever du soleil" class="sunrise-time">wb_sunny</mat-icon>
        <div> {{
          this.dateUtils
          .formatDateFromTimestamp(weather.sys.sunrise,
          this.dateUtils.adjustTimeWithOffset(weather.timezone))
          .toLocaleTimeString('fr')
          }}</div>
      </div>

      <div class="time-container">
        <mat-icon matTooltip="Coucher du soleil" class="sunset-time">brightness_3</mat-icon>
        <div> {{
          this.dateUtils
          .formatDateFromTimestamp(weather.sys.sunset,
          this.dateUtils.adjustTimeWithOffset(weather.timezone))
          .toLocaleTimeString('fr')
          }}</div>
      </div>
    </div>

    <div class="time-container">
      <mat-icon matTooltip="Dernière mise à jour à" class="lastupdated-time">schedule</mat-icon>
      <div>{{
        this.dateUtils
        .formatDateFromTimestamp(weather.dt, this.dateUtils.adjustTimeWithOffset(weather.timezone))
        .toLocaleString('fr')
        }}
      </div>
    </div>

  </div>
</div>
