.weather-today-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .weather-container {
    display: flex;
    flex-direction: row;
    place-items: center;
    flex: 1 0 40%;

    img {
      width: 4rem;
    }

    .current-temperature-container {
      display: flex;
      flex-direction: column;

      .current-temperature {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }

  .time-data-container {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    flex: 1 0 50%;

    .sunrise-time {
      color: #ffbe0a;
    }

    .sunset-time {
      color: rgb(161 155 155);
    }

    .day-data-container {
      display: flex;
      flex-direction: row;
      column-gap: 1.5em;
    }

    .time-container {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      place-items: center;
    }
  }
}
