<app-widget [isFormValid]="isFormValid()" [widgetData]="getWidgetData()" [isWidgetLoaded]="isWidgetLoaded()"
  (refreshWidgetAction)="this.refreshWidget()">
  <ng-template #header>
    <div class="header">
      <mat-icon>sunny</mat-icon>
      <div>La météo aujourd'hui à {{ city }}</div>
    </div>
  </ng-template>
  <ng-template #editComponent>
    <mat-form-field appearance="fill">
      <mat-label>Ville</mat-label>
      <input id="cityNameInput" name="city" matInput [(ngModel)]="this.city"
        placeholder="Saisissez de nom de la ville" />
    </mat-form-field>
  </ng-template>
  <ng-template #body>
    <div *ngIf="city && weather && weather.weather" class="flex flex-col">
      <app-weather-today [weather]="this.weather"></app-weather-today>
      <div *ngIf="cityData && forecastResponse">
        <div class="flex flex-row flex-wrap space-x-10">
          <span class="mx-auto">
            <h3>Prévisions</h3>
          </span>
          <span class="flex flex-row space-x-1">
            <div class="grid grid-cols-4 gap-2">
              <button *ngFor="let date of forecastDays" [color]="this.isSelectedDay(date) ? 'primary' : ''"
                mat-raised-button (click)="selectDayForecast(date)" class="toggleForecast">
                {{ formatDate(date) }}
              </button>

              <button [color]="this.isForecastModeWeek() ? 'primary' : ''" mat-raised-button id="toggleWeekForecast"
                (click)="selectWeekForecast()">
                Semaine
              </button>
            </div>
          </span>
        </div>
        <br />
        <app-weather-forecast *ngIf="this.cityData" [forecast]="this.forecastToDisplay"
          [timezone]="this.cityData.timezone"></app-weather-forecast>
      </div>
    </div>
  </ng-template>
</app-widget>