<app-widget [isFormValid]="isFormValid()" [widgetData]="getWidgetData()"
  [isWidgetLoaded]="isWeatherLoaded && isForecastLoaded" (refreshWidgetAction)="this.refreshWidget()">
  <ng-template #header>
    <div class="header">
      <mat-icon>sunny</mat-icon>
      <div>La météo aujourd'hui à {{ city }}</div>
    </div>
  </ng-template>
  <ng-template #editComponent>
    <mat-form-field appearance="fill">
      <mat-label>Ville</mat-label>
      <input id="cityNameInput" name="city" matInput [(ngModel)]="this.city"
        placeholder="Saisissez de nom de la ville" />
    </mat-form-field>
  </ng-template>
  <ng-template #body>
    <div *ngIf="city && weather && weather.weather" class="flex flex-col">
      <app-weather-today [weather]="this.weather"></app-weather-today>
      <div class="mx-2 mt-2" *ngIf="cityData && forecastResponse">
        <div class="grid grid-cols-4 gap-2 mx-auto">
          <button *ngFor="let date of forecastDays" [color]="this.isSelectedDay(date) ? 'primary' : ''"
            mat-raised-button (click)="selectDayForecast(date)" class="toggleForecast">
            {{ formatDate(date) }}
          </button>

          <button [color]="this.isForecastModeWeek() ? 'primary' : ''" mat-raised-button id="toggleWeekForecast"
            (click)="selectWeekForecast()">
            Semaine
          </button>
        </div>
        <div class="mt-4 mb-2">
          <mat-slide-toggle color="'primary'" (change)="this.updateForecastData()" [(ngModel)]="displayAllForecast">
            Afficher les prévisions complètes
          </mat-slide-toggle>
        </div>
        <app-weather-forecast *ngIf="this.cityData" [forecast]="this.forecastToDisplay"
          [forecastMode]="this.forecastMode" [timezone]="this.cityData.timezone"></app-weather-forecast>
      </div>
    </div>
  </ng-template>
</app-widget>
