#header {
  font-weight: bold;
}

.weather-forecast-container {
  display: flex;
  flex-direction: column;

  .forecast-data-container {
    margin: 0.5rem;

    .forecast-selector {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 0.5rem;
      margin: 0 auto
    }

    .toggle-forecast {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}