.forecast-row {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  border: 2px solid #000000;
  border-radius: 0.25rem;
  background-color: #3d6a7b;

  .forecast-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 calc(100% / 4);

    &:not(:last-child) {
      border-right: 1px solid #000000;
    }

    .forecast {
      display: flex;
      flex-direction: row;

      .forecast-time {
        margin: auto 0;
      }
    }

    .current-weather-icon {
      max-height: 3.5rem;
      max-width: 3rem;
    }

    .forecast-icons {
      display: flex;
      flex-direction: column;
    }
  }
}

.weather-widget-icon {
  vertical-align: middle;
}
