.forecast-row {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  border-radius: 0.25rem;
  background-color: #3d6a7b;

  .forecast-container {
    display: grid;
    flex-direction: column;
    align-items: center;
    flex: 0 0 calc(100% / 4);

    .forecast {
      display: flex;
      flex-direction: row;

      .forecast-time {
        margin: auto 0;
      }
    }

    .current-weather-icon {
      max-height: 3.5rem;
      max-width: 3rem;
    }

    .forecast-icons {
      display: flex;
      flex-direction: column;

      .temp-min {
        color: blue;
      }

      .temp-max {
        color: crimson;
      }

      .humidity {
        color: lightblue;
      }
    }
  }
}

.weather-widget-icon {
  vertical-align: middle;
}
