<div class="forecast-row">
  <div class="forecast-container" *ngFor="let forecastDay of this.forecast">
    <div class="forecast">
      <div class="forecast-time" *ngIf="forecastDay">
        {{ getDateToDisplay(forecastDay.dt, this.timezone) }}
      </div>
      <div>
        <img [src]="getIconFromWeatherApi(forecastDay.weather[0].icon || '')" class="current-weather-icon"
          [title]="forecastDay.weather[0].description" [alt]="forecastDay.weather[0].description" />
      </div>
    </div>
    <div class="forecast-icons">
      <div>
        <mat-icon [ngStyle]="{ color: 'crimson' }" class="weather-widget-icon">device_thermostat</mat-icon>
        {{ forecastDay.main.tempMax }}°
      </div>
      <div>
        <mat-icon [ngStyle]="{ color: 'blue' }" class="weather-widget-icon">device_thermostat</mat-icon>
        {{ forecastDay.main.tempMin }}°
      </div>
      <div>
        <mat-icon [ngStyle]="{ color: 'lightblue' }" class="weather-widget-icon">opacity</mat-icon>
        {{ forecastDay.main.humidity }}%
      </div>
    </div>
  </div>
</div>