<h1 mat-dialog-title>Ajouter un mini widget</h1>

<mat-dialog-content>
  <div id="mini-widget-types-list">
    <mat-card *ngFor="let miniWidgetType of miniWidgetTypeEnumKeys">
      <mat-card-content>
        <div class="mini-widget-type-container">
          <mat-icon>{{miniWidgetType.icon }}</mat-icon>
          <span> {{ miniWidgetType.type }}</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button id="{{ miniWidgetType.type }}" mat-raised-button color="primary"
          [mat-dialog-close]="miniWidgetType.type">Ajouter</button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-dialog-content>

<mat-dialog-actions> <button mat-raised-button mat-dialog-close color="warn">Fermer</button> </mat-dialog-actions>
