<div class="weather-forecast-container">
  <dash-weather-today [weather]="this.weather()"></dash-weather-today>
  @if (cityData() && forecastResponse()) {
    <div class="forecast-data-container">
      <div class="forecast-selector">
        @for (date of forecastDays; track date.getTime()) {
          <button
            [color]="this.isSelectedDay(date) ? 'primary' : ''"
            mat-raised-button
            (click)="selectDayForecast(date)"
            class="selectForecast"
          >
            {{ formatDate(date) | initialUppercase }}
          </button>
        }

        <button
          [color]="this.isForecastModeWeek() ? 'primary' : ''"
          mat-raised-button
          id="toggleWeekForecast"
          (click)="selectWeekForecast()"
        >
          Semaine
        </button>
      </div>
      <div class="toggle-forecast">
        <mat-slide-toggle color="'primary'" (change)="this.updateForecastData()" [(ngModel)]="displayAllForecast">
          Afficher les prévisions complètes
        </mat-slide-toggle>
      </div>
      @if (this.cityData()) {
        <dash-weather-forecast
          [forecast]="this.forecastToDisplay"
          [forecastMode]="this.forecastMode"
          [timezone]="this.cityData().timezone"
        ></dash-weather-forecast>
      }
    </div>
  }
</div>
