#miniwidget-list-container {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: center;

  #miniwidget-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    max-width: 95%;
    column-gap: 5px;

    .miniwidget-container {
      background-color: white;
      border: 1px solid black;
      border-radius: 0.25rem;
    }
  }
}
