#miniwidget-list-container {
  display: flex;
  flex-direction: row;

  #miniwidget-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;

    @media (width <= 320px) {
      width: 90%;
    }

    .miniwidget-container {
      background-color: white;
      border: 1px solid black;
      border-radius: 0.25rem;
      flex-grow: 0;
      flex-shrink: 0;

      &:not(:last-child) {
        margin: 0 5px;
      }
    }
  }
}