.rss-article {
  .article-title {
    &.is-read {
      color: grey;
    }

    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;

      &.is-article-opened {
        -webkit-line-clamp: 3;
      }
    }
  }

  .rss-feed-content {
    border: 2px solid rgb(107 114 128);
    border-radius: 0.25rem;
  }
}