<div class="feed">
  <mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let article of feed" class="rss-article"
      (opened)="onOpenDetail(article.guid)" (closed)="onClosePanel()">
      <mat-expansion-panel-header>
        <mat-panel-title class="article-title" [ngClass]="{ 'is-read': isArticleRead(article.guid) }">
          <p [ngClass]="{ 'is-article-opened': isArticleOpened(article.guid) }">{{ this.formatTitleForArticle(article)
            }}
          </p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="rss-feed-content">
          <a [href]="article.link | safe: 'url'">
            <div class="article-content">
              {{ stripHtmlFromContent(article.description) }}
            </div>
            <div class="article-pubdate">
              Publié le
              {{ (article.pubDate ? article.pubDate : article.updated) || '' | dateFormat }}
              {{ article.author && 'par ' + article.author }}
            </div>
          </a>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>