<div class="feed">
  <mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let article of feed" class="rss-article"
      (opened)="onOpenDetail(article.guid)">
      <mat-expansion-panel-header>
        <mat-panel-title class="articleTitle" [ngClass]="{ 'is-read': isArticleRead(article.guid) }">
          <div class="line-clamp-2">{{ this.formatTitleForArticle(article) }}</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="border-2 border-gray-500 border-solid rounded">
          <a class="rssPanelArticleTitle" [href]="article.link | safe: 'url'">
            <p class="font-bold">{{ article.title }}</p>
          </a>
          <div class="articleContent">
            {{ stripHtmlFromContent(article.description) }}
          </div>
          <div class="articlePubDate">
            Publié le
            {{ (article.pubDate ? article.pubDate : article.updated) || '' | dateFormat }}
            {{ article.author && 'par ' + article.author }}
          </div>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
