<app-widget [widgetData]="getWidgetData()" [isFormValid]="isFormValid()" (refreshWidgetAction)="refreshWidget()"
    [isWidgetLoaded]="isWidgetLoaded">

    <ng-template #header>
        <div class="header">
            <a href="{{'https://twitter.com/' + this.selectedTwitterHandle}}">@{{this.selectedTwitterHandle}}</a>
        </div>
    </ng-template>

    <ng-template #editComponent>
        <div class="flex flex-col">
            <div class="space-y-1" *ngIf="this.followedUsers.length">
                <div class="flex flex-row space-x-1 justify-between" *ngFor="let followedUser of this.followedUsers">
                    <div class="rounded w-full py-2 followed-user hover:bg-cyan-400 my-auto"
                        [ngClass]="{ 'bg-cyan-500': followedUser.userHandle === selectedTwitterHandle }"
                        (click)="selectUserHandle(followedUser.userHandle)">
                        {{followedUser.userHandle}}</div>
                    <button class="bg-gray-500" (click)="this.deleteFollowedUser(followedUser.id)"
                        id="deleteFollowedUserButton" mat-raised-button>
                        <mat-icon title="Remove followed user" aria-hidden="false">delete</mat-icon>
                    </button>
                </div>
            </div>

            <form class="flex flex-row">
                <mat-form-field appearance="fill">
                    <mat-label>Recherchez un utilisateur</mat-label>
                    <input matInput [formControl]="searchFormControl" />
                </mat-form-field>
                <button (click)="this.addFollowedUser()" [disabled]="!this.searchFormControl.value"
                    mat-raised-button>Ajouter</button>
            </form>
        </div>
    </ng-template>

    <ng-template #body>
        <div #twitterTimeline>
            <a class="twitter-timeline" [href]="getTwitterTimelineUrl()"></a>
        </div>
    </ng-template>
</app-widget>