<app-widget [widgetData]="getWidgetData()" [isFormValid]="isFormValid()" (refreshWidgetAction)="refreshWidget()"
  [isWidgetLoaded]="isWidgetLoaded">

  <ng-template #header>
    <div class="twitter-header">
      <mat-icon>person</mat-icon>
      <a href="{{'https://twitter.com/' + this.selectedTwitterHandle}}">@{{this.selectedTwitterHandle}}</a>
    </div>
  </ng-template>

  <ng-template #editComponent>
    <div id="edit-twitter-widget-container">
      <div id="followed-users-list" *ngIf="this.followedUsers.length">
        <div class="followed-user-container" *ngFor="let followedUser of this.followedUsers">
          <div class="followed-user" [ngClass]="{ 'selected-user': followedUser.userHandle === selectedTwitterHandle }"
            (click)="selectUserHandle(followedUser.userHandle)">
            {{followedUser.userHandle}}</div>
          <button class="delete-followed-user-button" (click)="this.deleteFollowedUser(followedUser.id)"
            mat-raised-button>
            <mat-icon title="Remove followed user" aria-hidden="false">delete</mat-icon>
          </button>
        </div>
      </div>

      <form id="add-followed-user-form">
        <mat-form-field appearance="fill">
          <mat-label id="searchTwitterUserLabel">Recherchez un utilisateur</mat-label>
          <input id="searchTwitterUserInput" matInput [formControl]="searchFormControl" />
        </mat-form-field>
        <button id="addFollowedUserButton" (click)="this.addFollowedUser()" [disabled]="!this.searchFormControl.value"
          mat-raised-button>Ajouter</button>
      </form>
    </div>
  </ng-template>

  <ng-template #body>
    <div #twitterTimeline>
      <a class="twitter-timeline" [href]="twitterTimelineUrl | safe: 'url' "></a>
    </div>
  </ng-template>
</app-widget>