<div *ngFor="let activity of this.activities.slice().reverse()" class="stravaActivity">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title> {{ getTitleToDisplay(activity) }} </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <div>
                <div>
                    <a href="https://www.strava.com/activities/{{ activity.id }}">
                        {{ formatDate(activity.startDateLocal) }}{{ activity.name }}
                    </a>
                </div>
                <div>Distance : {{ roundDistance(activity.distance) / 1000 }} kms</div>
                <div>Durée : {{ convertDecimalTimeToTime(activity.movingTime / 60) }} mins</div>
                <div>Denivelé : {{ activity.totalElevationGain }} mètres</div>
                <div>Trophées : {{ activity.achievementCount }}</div>
                <div>Vitesse moyenne : {{ activity.averageSpeed }}</div>
                <div>Vitesse max : {{ activity.maxSpeed }}</div>
                <div>Kudos : {{ activity.kudosCount }}</div>
                <div>Commentaires : {{ activity.commentCount }}</div>
            </div>
        </ng-template>
    </mat-expansion-panel>
</div>