.map-container {
  height: 100%;

  .map-frame {
    border: 2px solid #000;
    height: 100%;

    #map {
      height: 100%;

      .leaflet-sidebar {
        z-index: 1000;
      }
    }
  }
}

#forecast-indices-data {
  display: flex;
  flex-direction: column;
  row-gap: 0.4em;
  max-width: fit-content;

  #forecast-select-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 0.2em;
  }

  #sidepanel-indices {
    display: flex;
    flex-direction: column;
    width: fit-content;

    .airparif-indice {
      display: flex;
      justify-content: space-between;
    }
  }

  #indices-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.1em;

    .indice-label {
      border-radius: 0.25rem;
    }
  }
}
