.map-container {
  height: 100%;

  .map-frame {
    border: 2px solid #000000;
    height: 100%;

    #map {
      height: 100%;

      .leaflet-sidebar {
        z-index: 1000;
      }
    }
  }
}

#forecast-select-buttons {
  margin-bottom: 0.5rem;
}

#sidepanel-indices {
  display: flex;
  flex-direction: column;
  width: fit-content;

  .airparif-indice {
    display: flex;
    justify-content: space-between;
  }
}

.indice-label {
  border-radius: 0.25rem;
}
