@import '../node_modules/angular-calendar/css/angular-calendar.css';
@import 'colors';

/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

html,
body {
  height: 100%;
  background-color: $dash-background-color;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.header-container {
  .header {
    height: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    place-items: center;

    >* {
      margin-right: 10px;
    }
  }
}

mat-expansion-panel {
  mat-expansion-panel-header {
    &:hover {
      font-weight: bold;
    }
  }
}

.leaflet-top {
  z-index: 900;
}