@import '../node_modules/angular-calendar/css/angular-calendar.css';
@import 'colors';

html,
body {
  height: 100%;
  background-color: $dash-background-color;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-expansion-panel {
  mat-expansion-panel-header {
    &:hover {
      font-weight: bold;
    }
  }
}

.hoverable-link {
  &:hover {
    font-weight: 700;
  }
}

.leaflet-top {
  z-index: 900;
}