@import '../node_modules/angular-calendar/css/angular-calendar.css';

/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-expansion-panel-header {
  &:hover {
    font-weight: bold;
  }
}
