<app-widget [widgetData]="getWidgetData()" [isFormValid]="isFormValid()" [isWidgetLoaded]="isWidgetLoaded"
  (refreshWidgetAction)="this.refreshWidget()">
  <ng-template #header>
    <div class="header">
      <mat-icon>air</mat-icon>
      <a [href]="[airParifWebsiteUrl | safe]">
        <div>AirParif</div>
      </a>
    </div>
  </ng-template>

  <ng-template #editComponent>
    <mat-form-field appearance="fill">
      <mat-label>Clé d'API</mat-label>
      <input matInput id="airParifApiKey" name="apiKey" [(ngModel)]="this.airParifApiKey"
        placeholder="Saisissez la clé d'API AirParif" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Code commune</mat-label>
      <input matInput id="communeInseeCode" name="communeInseeCode" [(ngModel)]="this.communeInseeCode"
        placeholder="Saisissez le code commune" />
    </mat-form-field>
  </ng-template>

  <ng-template #body>

    <div id="sidebar" class="leaflet-sidebar collapsed" *ngIf="isWidgetLoaded">
      <div class="leaflet-sidebar-tabs">
        <ul role="tablist">
          <li>
            <a href="#home" role="tab">
              <mat-icon>menu</mat-icon>
            </a>
          </li>
        </ul>
      </div>

      <div class="leaflet-sidebar-content">
        <div class="leaflet-sidebar-pane" id="home">
          <div class="leaflet-sidebar-header">
            <div class="leaflet-sidebar-close">
              <mat-icon>close</mat-icon>
            </div>
          </div>

          <div *ngIf="this.airParifForecast.length > 0">
            <div class="mb-2">
              <button mat-raised-button [color]="this.isForecastModeToday() ? 'primary' : ''"
                (click)="this.selectTodayForecast()">Aujourd'hui</button>
              <button mat-raised-button [color]="this.isForecastModeTomorrow() ? 'primary' : ''"
                (click)="this.selectTomorrowForecast()" *ngIf="this.airParifForecast.length > 1">Demain</button>
            </div>

            <div *ngIf="this.forecastToDisplay" id="airParifForecast" class="flex flex-col w-fit">
              <div class="flex justify-between"
                [style]="{ 'background-color': this.getColorFromIndice(this.forecastToDisplay.indice) }">
                <span>Indice global</span><span>{{this.forecastToDisplay.indice}}</span>
              </div>
              <div class="flex justify-between"
                [style]="{ 'background-color': this.getColorFromIndice(this.forecastToDisplay.no2)}">
                <span>Dioxyde d'Azote (NO₂)</span><span>{{this.forecastToDisplay.no2}}</span>
              </div>
              <div class="flex justify-between"
                [style]="{ 'background-color': this.getColorFromIndice(this.forecastToDisplay.o3)}">
                <span>Ozone (O₃)</span><span>{{this.forecastToDisplay.o3}}</span>
              </div>
              <div class="flex justify-between"
                [style]="{ 'background-color': this.getColorFromIndice(this.forecastToDisplay.pm10)}">
                <span>Particules (diamètre inférieur à 10µm) (PM₁₀)</span><span>{{this.forecastToDisplay.pm10}}</span>
              </div>
              <div class="flex justify-between"
                [style]="{ 'background-color': this.getColorFromIndice(this.forecastToDisplay.pm25)}">
                <span>pm25</span><span>{{this.forecastToDisplay.pm25}}</span>
              </div>
              <div class="flex justify-between"
                [style]="{ 'background-color': this.getColorFromIndice(this.forecastToDisplay.so2)}">
                <span>Dioxyde de soufre (SO₂)</span><span>{{this.forecastToDisplay.so2}}</span>
              </div>

            </div>

            <span class="rounded" [style]="{ 'background-color':indice.color }"
              *ngFor="let indice of this.airParifCouleursIndices">
              {{indice.name}}
            </span>

          </div>
        </div>
      </div>
    </div>

    <div class="map-container">
      <div class="map-frame">
        <div id="map" #map></div>
      </div>
    </div>
  </ng-template>
</app-widget>