<div class="flex flex-row justify-between mx-2 mt-1">
  <div class="flex flex-row flex-wrap space-x-0.5">
    <app-tab
      class="tab border-2 border-gray-800 border-opacity-100 rounded"
      (click)="selectTab(tab.id)"
      (tabDeletedEvent)="deleteTabFromDash($event)"
      [ngClass]="{ 'selected-item': activeTab === tab.id }"
      *ngFor="let tab of this.tabs"
      [tab]="tab"
    ></app-tab>
    <button
      (click)="this.addNewTab()"
      id="addNewTabButton"
      class="border-2 border-gray-800 border-opacity-100 bg-green-400"
      mat-raised-button
    >
      <mat-icon title="Add a new tab" aria-hidden="false">add_circle_outline</mat-icon>
    </button>
  </div>
  <div class="sm:grid sm:grid-cols-2 md:flex md:flex-row space-x-1 items-start">
    <button (click)="this.openCreateWidgetModal()" id="openAddWidgetModal" class="bg-green-500" mat-raised-button>
      <mat-icon title="Add a new widget" aria-hidden="false">add_circle_outline</mat-icon>
    </button>
    <button mat-raised-button id="reloadAllWidgetsButton" class="bg-blue-500">
      <mat-icon title="Refresh all widgets" aria-hidden="false">refresh</mat-icon>
    </button>
    <button (click)="this.downloadConfig()" mat-raised-button id="downloadConfigButton" class="bg-gray-500">
      <mat-icon title="Download current user data and config" aria-hidden="false">download</mat-icon>
    </button>
    <button (click)="this.openImportConfigModal()" mat-raised-button id="openImportConfigModal" class="bg-lime-600">
      <mat-icon title="Upload user data and config" aria-hidden="false">upload</mat-icon>
    </button>
    <button (click)="logout()" mat-raised-button id="logoutButton" class="bg-red-600">
      <mat-icon title="Logout">logout</mat-icon>
    </button>
  </div>
</div>

<app-widget-list [widgetList]="this.activeWidgets" *ngIf="this.activeWidgets.length"></app-widget-list>
