#tab-list {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;

  .tab {
    cursor: pointer;

    &.selected-item {
      background-color: blue;
    }
  }
}



#mini-widgets-container {
  display: flex;
  justify-content: right;
}
