#tab-list-container {

  @media (min-width: 1px) {
    width: 60%;
  }

  @media (min-width: 640px) {
    width: 75%;
  }

  #tab-list {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;

    .tab {
      cursor: pointer;

      &.selected-item {
        background-color: blue;
      }
    }
  }
}

#action-bar-buttons {
  display: grid;

  @media (min-width: 1px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @media (min-width: 1280px) {
    display: flex;
  }
}

#mini-widgets-container {
  display: flex;
  justify-content: right;
  margin-top: 5px;
  margin-right: 5px;
}
