<app-widget [widgetData]="getWidgetData()" [isFormValid]="isFormValid()" [isWidgetLoaded]="isWidgetLoaded"
  (refreshWidgetAction)="this.refreshWidget()">

  <ng-template #headerIcon>
    <img class="rss-widget-header" *ngIf="this.image" src="{{ image.url }}" alt="logo" />
  </ng-template>

  <ng-template #headerTitle>
    <a *ngIf="this.image" [href]="this.image.link | safe: 'url'">
      <p class="rss-title">{{ this.title }}</p>
    </a>
  </ng-template>

  <ng-template #editComponent>
    <mat-form-field appearance="fill">
      <mat-label>URL</mat-label>
      <input matInput id="rssFeedUrl" name="url" [(ngModel)]="this.urlFeed" placeholder="Saisissez l'URL du flux RSS" />
    </mat-form-field>
  </ng-template>

  <ng-template #additionalActions>
    <button mat-icon-button class="markAllArticlesAsReadButton" (click)="markAllFeedAsRead()">
      <mat-icon>check</mat-icon>
    </button>
  </ng-template>

  <ng-template #body>
    <div *ngIf="this.urlFeed">
      <div class="rss-widget-description">{{ this.description }}</div>
      <app-rss-feed [feed]="this.feed" [readArticles]="this.readArticles"
        (markArticleAsReadEvent)="this.markArticleAsRead($event)"></app-rss-feed>
    </div>
  </ng-template>
</app-widget>