<app-widget [widgetData]="getWidgetData()" [isFormValid]="isFormValid()" [isWidgetLoaded]="isWidgetLoaded"
  (refreshWidgetAction)="this.refreshWidget()">
  <ng-template #header>
    <div class="header">
      <a *ngIf="this.image" [href]="this.image.link | safe" class="flex flex-row items-center space-x-2">
        <img class="w-9 rounded" src="{{ image.url }}" alt="logo" />
        <div class="rssTitle whitespace-nowrap overflow-hidden overflow-ellipsis">{{ this.title }}</div>
      </a>
    </div>
  </ng-template>

  <ng-template #editComponent>
    <mat-form-field appearance="fill">
      <mat-label>URL</mat-label>
      <input matInput id="rssFeedUrl" name="url" [(ngModel)]="this.urlFeed" placeholder="Saisissez l'URL du flux RSS" />
    </mat-form-field>
  </ng-template>

  <ng-template #additionalActions>
    <div class="flex flex-row">
      <button class="markAllArticlesAsReadButton" (click)="markAllFeedAsRead()">
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </ng-template>

  <ng-template #body>
    <div *ngIf="this.urlFeed">
      <div class="font-bold">{{ this.description }}</div>
      <app-rss-feed [feed]="this.feed" [readArticles]="this.readArticles"
        (markArticleAsReadEvent)="this.markArticleAsRead($event)"></app-rss-feed>
    </div>
  </ng-template>
</app-widget>