<button id="display-notifications-button" color="primary" mat-mini-fab [matMenuTriggerFor]="notificationsMenu">
  <mat-icon [matBadge]="unreadNotificationsForBadge" title="Notifications" aria-hidden="false">notifications</mat-icon>
</button>


<mat-menu #notificationsMenu="matMenu">
  <button id="mark-all-notifications-as-read-button" *ngIf="this.unreadNotificationsForBadge !== ''"
    (click)="markAllNotificationsAsRead($event)" mat-icon-button><mat-icon>check</mat-icon></button>

  <dash-notifications-list (onNotificationRead)="markNotificationAsRead($event)"
    [notificationsList]="this.notificationsToDisplay"></dash-notifications-list>
</mat-menu>