<app-widget [widgetData]="getWidgetConfig()" [isFormValid]="isFormValid()" [isWidgetLoaded]="isWidgetLoaded"
  (refreshWidgetAction)="refreshWidget()">

  <ng-template #header>
    <div class="incident-widget-header">
      <mat-icon>warning</mat-icon>
      <p>Incident {{incidentName}}</p>
    </div>
  </ng-template>

  <ng-template #editComponent>
    <mat-form-field appearance="fill">
      <mat-label>Type d'incident</mat-label>
      <input id="incidentName" name="incidentName" matInput [(ngModel)]="this.incidentName"
        placeholder="Saisissez le type d'incident" />
    </mat-form-field>
  </ng-template>

  <ng-template #body>
    <ng-template [ngIf]="this.lastIncidentDate" [ngIfElse]="startStreak">
      Dernier incident le {{lastIncidentDate | dateFormat : 'short'}}
      <button mat-raised-button (click)="endCurrentStreak()">Terminer</button>
    </ng-template>

    <ng-template #startStreak>
      <button mat-raised-button (click)="startNewStreak()">Départ</button>
    </ng-template>
  </ng-template>
</app-widget>