#incident-widget-body-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#go-to-current-streak-button {
  margin-left: auto;
}

#past-streaks-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#incident-widget-body {
  height: 100%;
  text-align: center;
  place-content: center;
  display: grid;
  row-gap: 2em;
}
